body {
    font-family:
      Poppins,
      -apple-system,
      Roboto,
      Helvetica,
      sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* NavBar Section */

header {
    background: #fff;
    color: #000;
    padding: 0px 0;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
    padding: 0px;
}

nav h1 {
    font-family: Sora, sans-serif;
    font-size: 24px;
    text-align: left;
    max-width: 300px;
    margin-left: 5%;
    flex-shrink: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-grow: 1;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: #474650;
    text-decoration: none;
    font-size: 22px;
    font-weight: 500;
    transition: color 0.3s ease;
    display: inline-block;
    padding: 5px 10px;
}

nav ul li a:hover {
    color: #000;
}

.contact {
    background: #000;
    color: #fff;
    font-size: 15px;
    padding: 12px 18px;
    margin-left: 100px;
    border-radius: 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: all 0.3s ease;
}

.contact:hover {
    color: #fff;
}

.contact .arrow img {
    width: 24px;
    height: 24px;
}


/* Hero Section */

#hero {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-image: url('../images/Gradient\ Backgroud.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#hero h2 {
    font-size: 64px;
    font-weight: bold;
    width: 700px;
    color: #003333;
    margin-bottom: 15px;
}

#hero p {
    font-size: 24px;
    line-height: 35px;
    color: #474650;
    margin-bottom: 25px;
}

#hero button {
    background: #fff;
    color: #000;
    padding: 12px 24px;
    border: 2px solid #000;
    border-radius: 30px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.hero-svg-container {
    position: relative;
    display: flex;
    width: 80%;
    justify-content: center;
    margin-top: 100px;
}

.hero-svg {
    position: absolute;
    top: -25%;
    right: 30%;
    width: 10%;
    height: auto;
    z-index: 0;
}

.hero-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 15px 15px 0px 15px;
    border-color: 000;
    border-style: solid;
    border-radius: 20px 20px 0px 0px;
    width: 80vw;
    z-index: 1;
}

.hero-image-container img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 5px 5px 0px;
    background-color: #000;
    z-index: 1;
}

.hero button {
    background: #fff;
    color: #000;
    padding: 10px 20px;
    width: 260px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    box-shadow:
        inset 0px 0px 10px rgba(0, 0, 0, 0.2),
        5px 5px 10px rgba(0, 0, 0, 0.2);
}

/* About Section */

#about {
    text-align: center;
    margin: 0;
    padding: 0;
}
  
#about h2 {
    font-size: 48px;
    color: #000;
    text-align: center;
    line-height: 1;
}
  
.about-content {
    display: flex;
    gap: 45px;
    align-items: center;
    margin: auto;
    justify-content: center;
    max-width: 1200px;
    width: 100%;
}
  
.about-text {
    color: #474650;
    font-size: 25px;
    min-height: 620px;
    line-height: 35px;
    text-align: left;
    white-space: pre-wrap;
}
  
.about-image-wrapper {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 620px;
    width: 470px;
}
  
.about-image {
    
    border-radius: 15px;
    object-fit: contain;
    position: relative;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.3);
}




/* Services Section */

#services {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 128px 0px;
    background-image: url(../images/Services\ Gradient\ Backgroud.png);
    font-family: Inter, sans-serif;
}

.services-container {
    max-width: 80%;
    position: relative;
    margin: auto;
}

.services-header {
    min-height: 360px;
    min-width: 760px;
    max-height: 360px;
    max-width: 760px;
    width: 100%;
    background: black;
    color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    padding: 85px 60px;
}

.services-header img {
    width: 75px;
    height: 75px;
    position: absolute;
    top: 25px;
    left: -5px;
    margin: 0;
    padding: 0;
}

.services-header h2 {
    font-size: 57px;
    line-height: 64px;
    font-weight: bold;
    margin: 0px;
}

.services-header p {
    font-size: 24px;
    line-height: 32px;
    text-align: left;
    color: white;
    margin-top: 16px;
    max-width: 550px;
}

.services-first-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: auto;
    gap: 40px;
}

.services-first-row .service-card {
    flex-grow: 1;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 40px;
    margin-top: 40px;
}

.service-card {
    width: 360px;
    height: 360px;
    background: white;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    box-sizing: border-box;
    padding: 40px;
}

.service-card img {
    width: 60px;
    height: 60px;
}

.service-card h3 {
    font-size: 24px;
    line-height: 40px;
    font-weight: bold;
    color: #000;
}

.service-card p {
    font-size: 17px;
    line-height: 28px;
    align-self: baseline;
    max-width: 280px;
    color: #555;
}

@media (max-width: 1024px) {
    .services-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .services-grid {
        grid-template-columns: 1fr;
    }
}




/* Steps Section */

#steps {
    background-color: #000;
    background-image: url(../images/Steps\ Gradient\ Backgroud.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    padding: 90px 0px;
    font-family: Inter, sans-serif;
}

.steps-container {
    display: flex;
    justify-content: space-between; /* Separates text (left) and steps (right) */
    max-width: 1200px;
    flex-direction: column;
    margin: 0 auto;
}

.steps-header {
    flex: 1;
    text-align: left;
    max-width: 990px;
}

.steps-header h2 {
    color: #fff;
    font-size: 48px;
}

.steps-header p {
    font-size: 24px;
    line-height: 42px;
}

.steps-description {
    font-size: 18px;
    color: #ccc;
    margin-bottom: 50px;
}

.steps-blocks-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    flex: 2;
}

.step {
    background-color: #111;
    border-radius: 12px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.step h3 {
    color: #fff;
    font-size: 23px;
    font-weight: 700;
}

.step p {
    font-size: 22px;
    max-width: 260px;
    font-weight: 500;
    text-align: left;
    writing-mode: vertical-rl;
    color: #aaa;
}

.step-1, .step-3, .step-4 {
    width: 120px;
    height: 400px;
    text-orientation: mixed;
    align-items: center;
}

.step-2 {
    min-width: 360px;
    min-height: 400px;
    max-width: 360px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 28px 40px;
}

.step-2 h3 {
    font-size: 67px;
    margin: 0;
}

.step-2 h4 {
    font-size: 30px;
    font-weight: 700;
    text-align: left;
}

.step-2 p {
    writing-mode: horizontal-tb;
    font-size: 16px;
}

@media (max-width: 768px) {
    .steps-container {
        flex-direction: column;
        text-align: center;
    }

    .steps-header {
        text-align: center;
    }

    .steps-blocks-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .step {
        width: 100%;
        height: auto;
        text-align: center;
    }

    .step-2 {
        padding: 20px;
        text-align: center;
    }
}






/* Section Styling */

#comparison {
    background-color: #fff;
    background-image: url(../images/Why\ Gradient\ Backgroud\ -\ Top.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 128px 0px;
}

.comparison-container {
    max-width: 900px;
    width: 100%;
}

.comparison-intro {
    margin-bottom: 95px;
    text-align: center;
}

.comparison-intro h2 {
    font-size: 40px;
    line-height: 54px;
    font-weight: 700;
    margin-bottom: 10px;
    font-family: Sora, san-serif;
}

.comparison-intro p {
    font-size: 20px;
    line-height: 28px;
    max-width: 400px;
    margin: 0px auto;
}

.comparison-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: Inter, san-serif;
}

.comparison-column {
    flex: 1;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comparison-column h3 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    align-self: flex-start;
    margin-bottom: 35px;
}

#shine-b {
    position: absolute;
    top: -20px;
    left: -100px;
    z-index: 0;
}
#underline {
    position: absolute;
    bottom: -60px;
    left: -20px;
    z-index: 0;
}

.comparison-box {
    background: #fff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    max-width: 480px;
    min-width: 480px;
    box-sizing: border-box;
}

.comparison-box h4 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 16px 0px;
    color: #000;
}

.comparison-list {
    list-style: none;
    padding: 0;
}

.comparison-list li {
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding: 8px 0px;
}

.comparison-list img {
    padding-right: 20px;
}

.vs-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: #000;
    z-index: 2;
}

.vs {
    width: 40px;
    height: 40px;
    transform: scale(2);
}

@media (max-width: 768px) {
    .comparison-wrapper {
        flex-direction: column;
        gap: 20px;
    }

    .comparison-column {
        max-width: 100%;
    }

    .vs-wrapper {
        order: -1; /* Moves VS above for better stacking */
        margin: 20px 0;
    }
}




/* Testimonial Section*/

#testimonials {
    background-color: #000;
    padding: 140px 0px;
    display: flex;
    justify-content: center;
    background-image: url(../images/Testimonials\ Gradient\ Backgroud.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.testimonials-container {
    max-width: 1200px;
    width: auto;
    text-align: left;
    background-color: #212121;
    padding: 80px;
    border-radius: 12px;
}

.testimonials-container h2{
    font-size: 51px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 20px;
    font-family: Sora, san-serif;
}

.testimonial-content {
    display: flex;
    gap: 80px;
    align-items: center;
}

.testimonial-text {
    max-width: 620px;
    min-width: 620px;
    width: 100%;
    height: 380px;
    flex-shrink: 0;
    background-color: #141414;
    border-radius: 12px;
    color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    padding: 40px;
    font-family: Inter, san-serif;
}

.stars {
    color: #FF9345;
    font-size: 20px;
}

.testimonial-message {
    font-size: 21px;
    line-height: 32px;
    max-width: 520px;
}

.testimonial-author {
    font-size: 16px;
    margin-top: 40px;
    align-self: flex-end;
    font-weight: bold;
}

.testimonial-video {
    position: relative;
    width: 300px;
    height: 380px;
}

.client-image {
    width: 300px;
    height: 380px;
    border-radius: 12px;
    object-fit: contain;
    object-position: center;
}

.play-button-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .testimonial-content {
        flex-direction: column;
        text-align: center;
    }

    .testimonial-text {
        width: 100%;
    }

    .testimonial-video {
        width: 100%;
        max-width: 300px;
    }
}






/* Footer Styles */

#footer {
    background-color: #fff;
    padding-top: 72px;
    display: flex;
    justify-content: center;
}

.footer-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-column {
    flex: 1;
    min-width: 300px;
    max-width: 300px; /* Ensures responsiveness */
}

#footer h3 {
    font-size: 24px;
    line-height: 31px;
    margin-bottom: 15px;
    font-family: Sora, san-serif;
}
#footer h4 {
    font-size: 14px;
    margin: 20px 0px;
}

#footer p {
    font-size: 16px;
    
    padding-left: 10px;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    font-size: 18px;
    line-height: 28px;
    padding: 10px 0px;
}

.footer-links li a {
    color: #000;
    text-decoration: none;
}

.footer-links li a:hover {
    text-decoration: none;
    color: #111;
}


.social-icons {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.social-icons img {
    width: 40px;
    height: 40px;
}


#footer button {
    background: #000;
    padding: 12px 32px;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 15px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#footer button:hover {
    background: #423a3a;
}

.footer-grey {
    background: #F2F4F7;
    width: 80vw;
    height: 5vh;
    align-self: flex-end;
    margin-top: 50px;
    border-radius: 12px 12px 0px 0px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .social-icons {
        justify-content: center;
    }
}


